<!DOCTYPE html>
<html>
    <head>
        <title>AppleDash.org | {% block title %}{% endblock %}</title>
        <meta charset="utf8" />
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>

